
*.vsidx
*.vsidx
*.vsidx
*.vsidx
IDSConverter/.vs/IDSConverter/v17/.suo
/.vs
/IDSConverter/.vs
/.gitignore
/.gitignore
/.gitignore
/IDSConverter/.vs/IDSConverter/v17/.suo
/IDSConverter/bin/Debug/IDSConverter.exe
/IDSConverter/bin/Debug/IDSConverter.exe.config
/IDSConverter/bin/Debug/IDSConverter.pdb
/IDSConverter/obj/Debug/IDSConverter.csproj.AssemblyReference.cache
/IDSConverter/obj/Debug/IDSConverter.csproj.CoreCompileInputs.cache
/IDSConverter/obj/Debug/IDSConverter.csproj.FileListAbsolute.txt
/IDSConverter/obj/Debug/IDSConverter.exe
/IDSConverter/obj/Debug/IDSConverter.pdb
